body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

li {
  list-style-type: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

header {
  border-bottom: 1px solid #e7e9fc;
}

.header-item {
  margin-right: 40px;
}

.header-item-list {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.studio-span {
  color: #2e2f42;
}

.contacts {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  display: inline-block;
  margin-right: 0;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Section 1 */
.title-sec {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  color: #ffffff;
  background-color: #2e2f42;
}

.title-text {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Why WebStudio(Section 2) */
.advantages-sec {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-list {
  font-family: "Roboto";
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our team(section 3) */
.our-team-sec {
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  background-color: #f4f4fd;
}

.our-team {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.our-team-list {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team-img {
  background-color: #ffffff;
}

.our-team-list-p {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Our Portfolio (Section 4) */
.our-portfolio {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.our-portfolio-list {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.our-portfolio-p {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: #f4f4fd;
  background-color: #2e2f42;
}

.studio-span_ {
  color: #f4f4fd;
}

.footer-class {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
